<footer class="gpes-footer-container">
<div class="container-fluid gpes-footer">
  <div class="container">
    <div id="gpes-footer" class="row">
        <div class="col-md-4 footer-left">
          <h4>ONDE ESTAMOS</h4>
          <address>
            <b>Instituto Federal da Paraíba</b><br>
            Campus Cajazeiras<br>
            Rua José Antônio da Silva, 300 - Jardim Oásis<br>
            58900-000, Cajazeiras - PB
          </address>
        </div>
        <div class="col-md-4 footer-mid">
          <h4>REDES SOCIAIS</h4>
          <p class="text-center">Siga-nos nas redes sociais</p>
          <div class="social-icons text-center">
            <ul>
              <li><a href="http://www.twitter.com/gpes" target="_blank"><i class="mdi mdi-twitter-box"></i></a></li>
              <li><a href="http://www.facebook.com/gpes" target="_blank"><i class="mdi mdi-facebook-box"></i></a></li>
              <li><a href="http://www.github.com/gpes" target="_blank"><i class="mdi mdi-github-box"></i></a></li>
              <li><a href="http://www.linkedin.com/in/gpes" target="_blank"><i class="mdi mdi-linkedin-box"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 footer-right">
          <h4>LINKS</h4>
        </div>   
    </div>
  </div>
</div>
<div class="container-fluid gpes-bottom">
  <div class="container">
  <div class="row">
    <p class="text-center">Grupo de Pesquisa em <span class="emp">Engenharia de Software</span>. 2016© - Todos os direitos reservados.</p>
  </div>
  </div>
</div>
</footer>