<div id="gpes-menu" class="navbar navbar-default " role="navigation">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
  </div>
  <div class="collapse navbar-collapse navbar-menubuilder">
      <ul class="nav navbar-nav navbar-left">
          <li class="{% if page.title == 'Início' %}active{% endif %}"><a href="/">Início</a></li>
          <li class="{% if page.title == 'Blog' or page.layout == 'post' %}active{% endif %}"><a href="/blog">Blog</a></li>
          {% assign sorted_pages = site.pages | sort:"title" %}
          {% for sorted_page in sorted_pages %}
          {% if sorted_page.title and sorted_page.navigation == true and sorted_page.title != 'Blog' and sorted_page.title != 'Início' %}
          <li class="{% if sorted_page.title == page.title %}active{% endif %}"><a href="{{ sorted_page.url | prepend: site.baseurl }}">{{ sorted_page.title }}</a></li>
          {% endif %}
          {% endfor %}
      </ul>
      <form class="navbar-form navbar-right" action="/busca" role="search">
        <div class="form-group">
          <input type="text" class="gpes-form-search" type="search" name="q" placeholder="Busca">
        </div>
      </form>              
  </div>
</div>