

.gpes-blog {
	.blog-item {

		h1 {
			margin-top: 0px;
			border-bottom: 1px solid #9dc02e;
		}

		.h-blog-item-primary {
			margin-top: 0px;
			font-weight: 700;
			margin-bottom: 5px;

			a {
				color: #9dc02e;
			}
		}

		.h-blog-item-secondary {
			margin-top: 0px;
			font-weight: 400;
			color: #333;
			letter-spacing: 3px;
			margin-bottom: 10px;
			font-size: ceil(($font-size-small * 1.1));
		}

		.h-blog-item-details {
			margin-top: 0px;
			letter-spacing: 2px;
			font-weight: lighter;
			color: #333;
			margin-bottom: 5px;
			font-size: ceil(($font-size-small));
			border-bottom: 1px solid #EEE;
    		padding-bottom: 15px;
		}

		.blog-post-img {
			@extend .col-md-4;
			padding: 10px;
		}

		.blog-post-desc {
			@extend .col-md-8;
			line-height: 27px;


		}

		.blog-rm {
			text-align: right;
			text-transform: uppercase;
			padding: 10px 0;

			:hover {
				text-decoration: none;
			}

			a {
				color: #333;
				font-weight: 600;
				padding: 12px 12px 13px 12px;
				border-bottom: 1px solid #939393;
			}

			border-bottom: 1px solid #D7D7D7;
		}
	}

	.blog-pager {
		text-transform: uppercase;
		font-weight: lighter;
	}
}

.gpes-post {

	.post-header {
		h1 {
			font-size: ceil(($font-size-h1 * 1.4));
		}

		h2 {
			font-size: 20px;
			font-family: $font-family-serif;
			margin-top: 0px;
			color: #333;
		}
	}

	.post-metadata {
		font-family: $font-family-sans-serif;

		.post-metadata-author {
			font-weight: bold;
			text-transform: uppercase;
		}

		.post-category {
			@extend .label;
			@extend .label-success;
		}
	}

	.author-metadata {

		margin-bottom: 15px;

		.img-author {
			border-radius: 3px;
			border: 1px solid $gray-light;
			-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
			-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
			box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
		}

		background-color: #EEE;
		padding: 10px 0px;

		.author-metadata-title {
			font-weight: bold;
			margin-top: 0px;
		}

		p {

			.author-name {
				font-weight: bold;
			}
		}
	}

}