---
layout: default
title: "Blog"
navigation: true
---
<div class="gpes-article-main">
  <div class="gpes-blog">
    {% for post in paginator.posts %}
    <article class="blog-item">
      <div class="row">
        <div class="blog-post-img"><img class="img-responsive" src="/images/gpes.jpg"/></div>
        <div class="blog-post-desc">
          <h2 class="h-blog-item-primary"><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <h3 class="h-blog-item-secondary">{{ post.headline }}</h3>
          <h4 class="h-blog-item-details"><i class="mdi mdi-calendar"></i> {{ post.date | date_to_long_string }} • <i class="mdi mdi-comment-processing-outline"></i> <a href="{{ post.url }}#disqus_thread"> comentários</a> • <i class="mdi mdi-account"></i> por <b>{{ site.authors[post.author].display_name }}</b></h4>
          <p>{{ post.excerpt }}</p>            
        </div>
      </div>
      <div class="row">
        <div class="blog-rm"><a href="{{ post.url }}"><i class="mdi mdi-plus"></i> Leia mais</a></div>
      </div>
    </article>
    {% endfor %}
    <nav>
      <ul class="pager">

        <li class="previous {% if paginator.next_page == null %}disabled{% endif %}"><a class="blog-pager" href="/blog/page/2"><span aria-hidden="true">←</span> Mais antigos</a></li>

        <li class="next {% if !paginator.previous_page == null %}disabled{% endif %}"><a class="blog-pager" href="#">Mais recentes <span aria-hidden="true">→</span></a></li>
      </ul>
    </nav>
  </div>

</div>